body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    background-color: red;
    padding: 10px;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-links li {
    border: 1px solid #000;
    padding: 5px 10px;
    border-radius: 5px;
}

.navbar-logo {
    font-weight: bold;
}

.footer {
    background-color: red;
    color: white;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    display: inline;
    margin: 0 10px;
}

.footer-links li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.footer-links li a:hover {
    color: #00FF00; /* Change the color on hover (e.g., green) */
}

table {
    border-collapse: collapse;
    justify-content: center;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    justify-content: center;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #636100;
    justify-content: center;
}
