body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Pour que le contenu s'étende sur toute la hauteur de la fenêtre */
    margin: 0; /* Pour supprimer les marges par défaut du corps */
    padding: 0; /* Pour supprimer le rembourrage par défaut du corps */
    
}

main {
    
    flex: 1; /* Pour que le contenu principal s'étende pour remplir l'espace restant */
    overflow-y: auto; /* Ajoute une barre de défilement verticale si le contenu dépasse */
    padding: 20px; /* Pour l'espace entre le contenu et les bords de main */
}



.background-img {
    width: 100%;
    height: 50vh; /* Réduire la hauteur à 50% de la hauteur de la vue */
    object-fit: cover; /* Ajuster l'image pour remplir la zone de manière égale */
    position: center;

}

.background-img-container {
    position: relative;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0); /* Couleur du texte en gris */
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
    text-align: center;
    width: 100%; /* Largeur augmentée à 90% */
    max-width: 900px; /* Largeur maximale augmentée à 600px */
    padding: 20px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 40px; /* Bordure arrondie élargie */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    line-height: 2.8;
}


.navbar {
    display: flex;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 10px;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-links li {
    border: 1px solid #000;
    padding: 5px 10px;
    border-radius: 5px;
}

.navbar-links-bis li {
    border: 1px solid #000;
    padding: 5px 10px;
    border-radius: 5px;
}

.navbar-logo {
    font-weight: bold;
}

.footer {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
}




.footer .footer p {
    margin: 0;
}



.table-container {
    padding: 20px; /* Ajouter une marge autour de la table */
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: center; /* Centrez le texte horizontalement */
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #636100;
}


/* login.css */
h1 {
    font-size: 24px; /* Taille de la police du titre */
    text-align: center;
    margin: 20px 0; /* Espacement au-dessus et en dessous du titre */
}

form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
}



h1 {
    font-size: 24px;
    margin: 20px 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; /* Centrer le contenu verticalement */
    height: 100vh; /* Utilise toute la hauteur de la fenêtre du navigateur */
}

form {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    display: block;
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
}

h1 {
    color: #333;
}
form {
    max-width: 300px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-top: 10px;
}
select, input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Style pour le titre "Mes Alertes" */
.mesalertes-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

/* Style pour les sections "Alertes Ouvertes" et "Alertes Fermées" */
.mesalertes-section-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px;
}

/* Style pour la liste d'alertes ouvertes et fermées */
.mesalertes-list {
    list-style: none;
    padding: 0;
}

/* Style pour chaque élément de la liste d'alertes ouvertes */
.mesalertes-open-alert {
    background-color: #dff0d8;
    border: 1px solid #3c763d;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    margin: 6px 0;
}

/* Style pour chaque élément de la liste d'alertes fermées */
.mesalertes-closed-alert {
    background-color: #f2dede;
    border: 1px solid #a94442;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
}

/* Style pour les boutons "Éditer" et "Supprimer" */
.btn {
    display: inline-block;
    padding: 5px 10px;
    background-color: #337ab7;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn-primary {
    background-color: #337ab7;
}

.btn-danger {
    background-color: #d9534f;
}

/* Style pour le texte "ouvert" à côté des alertes ouvertes */
.alert-status {
    font-weight: bold;
    color: #3c763d;
    margin-left: 10px;
}

.NotificationCSS {
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 400px;
    text-align: center;
}

.NotificationCSS h1 {
    font-size: 24px;
    color: #333;
}

.NotificationCSS p {
    font-size: 16px;
    color: #666;
}


.error-message {
    color: #d9534f; /* Rouge pour l'erreur */
    font-size: 20px;
    text-align: center;
    padding: 20px; 
}

.button-container {
    margin-top: 20px;
    text-align: center;
    padding: 20px; 
}

.btn-redirect {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d9534f; /* Rouge pour le bouton */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    padding: 20px; 
}

.btn-redirect:hover {
    background-color: #a94442; /* Rouge plus foncé au survol */
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
    margin-top: 20px;
    color: #333;
}

p {
    font-size: 16px;
    line-height: 1.4;
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

