<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    
    {% include "navbar.html" %}
    <main>
        
        
        <h1>Bonjour Bienvenue dans notre application.</h1>
        <a href="{{url_for('logout')}}">Appuiyer ici pour se déconnecté</a>
    </main>
    {% include "footer.html" %}
</body>

</html>