{% include "navbar.html" %}

<!DOCTYPE html>
<html>
<head>
    <title>Erreur - Limite de Requêtes Dépassée</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/styles.css') }}">
    
</head>
<body>
    <main>
        <div class="error-message">
            <p>Le nombre maximal de requêtes avec cette API a été dépassé.</p>
            <p>Veuillez réessayer plutard.</p>
        </div>
        <div class="button-container">
            <a class="btn-redirect" href="{{ url_for('accueil') }}">Retour à la page d'accueil</a>
        </div>
    </main>
    
    
    {% include "footer.html" %}
    
</body>
</html>