<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='footer.css') }}">
</head>
<body>
    <footer class="footer">
        <div class="footer-content">
            <p>© 2023 Flowbite™. All Rights Reserved.</p>
            <ul class="footer-links">
                <li><a href="#">About</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Licensing</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
