<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <a href="{{ url_for('accueil') }}" class="navbar-logo">HB</a>
        <ul class="navbar-links">
            <li><a href="{{ url_for('set_alert_page') }}">Créer une Alerte</a></li>
            <li><a href="{{ url_for('mes_alertes') }}">Mes Alertes</a></li>
            <li><a href="#">Qui sommes-nous</a></li>
        </ul>
        <ul class="navbar-links-bis">
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('logout') }}">Se déconnecter</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</body>
</html>
